/*Custom styles for R-Blend app, overriding many of the Bootstrap framework styles*/

/*---body style---*/
body {
  padding-top: 10px;
  padding-bottom: 40px;
  background: #eff2f4;
  font-family: 'Roboto Slab', arial;
}


/*---button styles---*/
.modal-footer button {
  width:auto;
}

.glyphicon-trash {
  float:right;
  font-size:18px;
  display:inline;
  margin:-20px 0 0 0!important;
}

.glyphicon-edit {
  float:right;
  font-size:18px;
  display:inline;
  margin:-20px 30px 0 0;
}

.glyphicon-trash:hover,
.glyphicon-edit:hover {
  color: #ff5700;
}

.glyphicon-link,
.glyphicon-log-out,
.glyphicon-th,
.glyphicon-book,
.glyphicon-home {
  margin:0 5px 0 0;
}

.addStudents:before {
   content:"\2b ";
   font-family: 'Glyphicons Halflings';
   color:#fff;
   font-size:10px;
   padding-right:3px;
 }

.addStudents {
  margin: 5px 0 15px 0;
  width:auto;
  font-size:15px;
}
button {
  display:block;
  margin: auto 0;
  width:100%;
}

.studentHeader {
  text-align:left;
  float:left;
  margin: 0 0 10px 0;
}

/*---input styles---*/
input {
  margin: 10px 0 0 5px;;
}

/*---form styles---*/
.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

label.appSignin {
  margin: 0 0 0 0;
  padding:0;
}

/*---list styles---*/
ul li {

  list-style:none;
  line-height:1.7;
}

ul {
  margin: 0 0 0 -40px;
}

.dropdown.open>.dropdown-toggle .caret {
  border-top-color: transparent;
  border-bottom: 4px solid #000000;
  position: relative;
  top: -3px;
}

.navbar-toggle {
  float:right;
  width:auto;
}

ul li {
  border-bottom: rgba(255, 255, 255,.3) 1px solid;
}

ul li a,
.navbar-inverse .navbar-brand{
  color: rgba(255, 255, 255,.8) !important;
  font-family: 'Roboto Slab', serif;
}

.navbar-nav {
  margin:0 -15px
}

@media (min-width: 768px) {
  .navbar-right {
    float: right!important;
    margin-right: 0;
  }
}

/*carousel*/
.carousel-inner {
  margin:0 auto;
  max-width:620px;
  height:700px;
}

.carousel-inner img {
  height:auto;
}

.carousel-caption {
  color: #000;
  position:absolute;
  margin:10px auto;
  display:block;
  top:96%;
  left:0;
  right:0;
}

.carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right,
.carousel-control .icon-next, .carousel-control .icon-prev  {
  top:33%;
  color:#fff!important;
  background: gray;
  height:1.1em;
  width:1.1em;
  border-radius:50%;
  text-shadow: 0 1px 2px rgba(0,0,0,.6);
}

.carousel-control.right,
.carousel-control.left {
  background:none;
}

.carousel-caption h2 {
  font-family: 'Roboto Slab', serif;
  padding-top:0;
  margin-top:0;
}
.item p {
  font-family: 'Roboto Slab', serif;
  font-size:15px;
  margin:0 auto;
  text-align:left;
  text-shadow: none;
  padding:0 0 10px 0;

}

.carousel-indicators {
  display:none;
}

.carousel-indicators li {
  border:#666 1px solid!important;
}


.carousel-indicators li.active {
  background-color: #ff5700!important;
}

/*Login styles*/
a.createUser {
  cursor:pointer;
}

.login {
  margin: 0 0 10px 0;
}

.FormGroup {
  margin: 5px 0 10px 0!important;
}

input.FormControl {
  width:100%!important;
  margin:5px 0 0 0;
}

.signIn {
  margin-top: 12%;
  background: rgba(255, 255, 255,.8);
  padding:0 20px 20px 20px;
  border-radius:5px;
}

a.resourceLinks {
  color:#666!important;
}

h3 {
  text-align:center;
}

span.nameStudent {
}

.signInLogo {
  margin:0 auto -10px auto;
}

.btn-warning {
  background-color:#EF802F;
}

.btn-warning:hover {
  background-color: #d46c2e;
}

.btn-warning:focus {
  background-color: #b75c29!important;
}

.signIn h1 {
  color:#0F3152;
  font-size:28px;
  margin:20px 0 5px 0;
}

.signIn input {
  margin:0;
}

.has-error .form-control {
  background-color: rgba(255, 0, 0,.04);
  margin:0;
}

label.appSignin {
  margin:10px 0 5px 0;
}

.alert.alertLog {
  padding:0!important;
  margin:10px 0 0 0;
}

.modal-footer.modalAlert {
  padding:0;
}

.modal-footer.modalAlert p{
  font-size:16px;
  text-align: left;
  margin:5px 8px 0 10px;
  display:inline;
}

.modal-footer.modalAlert button.btn {
  margin:10px 5px!important;
}

